/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Stretch Goal 2 */
h4 {
  font-family: "Righteous", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */
.body {
  font-size: 62.5%;
}
.container {
  width: 100vw;
  margin: 0;
}

p,
a,
h4 {
  font-size: 2em;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
header nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
}
header nav a {
  margin: 0;
  text-decoration: none;
  color: black;
  text-align: center;
  width: 100%;
  border-style: solid;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  padding: 20px 0;
}

.cta-text {
  width: 100%;
  margin: 30px 4%;
}

.cta div.header {
  display: none;
}
.main-content {
  margin: 4% 0;
  padding: 0 4%;
}
.main-content div.middle-img {
  background-image: url("../img/mid-page-accent.jpg");
  width: 100%;
  height: 132px;
}
.contact {
  margin: 4% 4%;
}

header nav a:first-child {
  border-width: 1px 0px 1px 0px;
}

.top-content .text-content {
  margin: 4% 0;
}
.bottom-content .text-content {
  margin: 4% 0;
}

.features,
.about,
.services,
.product,
.vision {
  margin: 9% 0;
  width: 100%;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.cta-text {
  text-align: center;
  width: 100%;
}

.cta-text h1 {
  font-size: 85px;
}

.cta-text button {
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 40px;
}

hr {
  border: 1px solid black;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

/********* services.html ************/

.services-intro {
  margin-top: 20px;
}

.services-intro img {
  width: 795px;
}

.services-intro-text {
  margin: 25px 0;
}

.services-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-main div {
  width: 47%;
  margin: 25px 0;
  padding: 20px;
  border: 1px solid black;
  background-color: rgb(240, 240, 240);
}

.services-main button {
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 40px;
  margin-top: 20px;
}

.services-facts {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.services-facts-text,
.services-facts img {
  width: 47%;
}

.services-facts ul {
  list-style-type: square;
  list-style-position: inside;
  line-height: 25px;
  margin-top: 20px;
}

/***************** products.html *****************/

.products-intro {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.products-intro img {
  width: 47%;
}

.products-intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 47%;
}

.products-intro-text h2,
.products-intro-text h4 {
  text-align: center;
}

.products-intro-colors {
  display: flex;
  flex-direction: row-reverse;
}

.products-intro-colors_red,
.products-intro-colors_blue,
.products-intro-colors_white,
.products-intro-colors_black {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-left: 10px;
  border: 1px solid black;
}

.products-intro-colors_red:hover,
.products-intro-colors_blue:hover,
.products-intro-colors_white:hover,
.products-intro-colors_black:hover {
  cursor: pointer;
}

.products-intro-colors_red {
  background-color: red;
}
.products-intro-colors_blue {
  background-color: blue;
}
.products-intro-colors_white {
  background-color: white;
}
.products-intro-colors_black {
  background-color: black;
}

.products-intro-text .price {
  font-size: 30px;
  color: lightblue;
}

.products-intro-text button {
  padding: 20px 80px;
  margin: 0 auto;
}

.products-features h2 {
  text-align: center;
}

.products-features-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 90vh;
}

.products-features-items_child {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  border: 1px solid black;
  padding: 20px;
  width: 32%;
}

.products-features-items_child img {
  height: 32px;
  width: 15%;
}

.products-features-items_child div {
  width: 80%;
}

/*====================== index.html Desktop View ======================*/

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: auto;
  }

  body {
    font-size: 62.5%;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav a {
    text-align: left;
    width: 70%;
    padding: 0;
  }

  .cta-text {
    width: 47%;
    margin: 0;
  }
  .cta div.header {
    display: block;
    background-image: url("../img/header-img.png");
    width: 379px;
    height: 379px;
  }

  .features,
  .about,
  .services,
  .product,
  .vision {
    margin: 0% 0;
  }
}

/*====================== index.html Tablet View ======================*/
@media screen and (min-width: 500px) {
  p,
  a,
  h4 {
    font-size: 1.5em;
  }

  header nav {
    flex-direction: row;
  }

  header nav a {
    border: none;
  }

  .top-content .text-content {
    display: flex;
    justify-content: space-between;
  }

  .features,
  .about {
    width: 47%;
  }
  .bottom-content .text-content {
    display: flex;
    justify-content: space-between;
  }

  .services,
  .product,
  .vision {
    width: 30%;
  }
}
